# папка загрузки
directory=data2
csv_delimiter=,
fields=id::Int64==Code&&product_title&&price&&amount_sold
index_field=Code
skiprows=0
skipfooter=0
aggregate=

y_name=amount_sold
x_fields=price&&amount_sold
pred_fields=price&&amount_sold
show_fields=product_title

epoch_count=500
patience_count=10
lag=2

sort_expression=(\d+)
sort_pattern=(\d+)
sort_repl=\1