# data folder
directory=data
# columns list [::type][==alias] 
fields= Code::Int64==Code&& Dish==Dish&& Quantity==Quantity&& Wed price==Wed price&& Sum==Sum&& Discount==Discount

# unique identifier (id)
index_field=Code
# skip rows fromm the begining of dataset
skiprows=2
# skip rows fromm the end (footer) of dataset
skipfooter=0
# merge data from all files bassed on dish and note how to merge other records
aggregate=Dish::last&&Quantity::sum&&Wed price::mean&&Sum::sum&&Discount::sum

# what model predicts 
y_name=Quantity
# what goes into model ( it learns from it)
x_fields=Quantity&&Wed price&&Sum&&Discount
# variables for regression pred_fields-what fields are used for prediction and show_fields-show additional dield whe predicting
pred_fields=Quantity&&Sum
show_fields=Dish

# amount of epochs
epoch_count=500
# batch size (learning iterations in epoch)
batch_size=256
# how many unsuccessful iterations before training stops 
patience_count=10
# lag eg how many periods of time are used for prediction data
lag=6
#prediction for this time period 
forecast_size=1

#template for sorting data in chronological order 
sort_expression=(\d{4})
sort_pattern=(\d\d)(\d\d)
sort_repl=\2\1
