# папка загрузки
directory=regr_data
fields=X1::float32&&X2::float32&&X3::float32&&y::float32
#index_field=Code
skiprows=0
skipfooter=0
aggregate=

y_name=y
x_fields=X1&&X2&&X3&&y
pred_fields=X1&&X2&&X3

epoch_count=500
patience_count=10
lag=3

sort_expression=(\d{2}_\d{2}_\d{4})
sort_pattern=(\d\d)_(\d\d)_(\d\d\d\d)
sort_repl=\3\2\1